body{
    font-family: "Poppins", serif;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.logo{
    margin-left: 5vw;
}
header svg{
    height: 40px;
}
#burger-menu {
    cursor: pointer;
    height: 29px;
    width: 40px;
    margin: 0 5vw;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    display: block;
    height: 5px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    background: #FF1E00;
  
  }
  
  
  
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 40px;
  }
  
  #burger-menu span:before {
    left: 0px;
    top: -12px;
    width: 29px;
  }
  
  #burger-menu span:after {
    left: 0px;
    top: 12px;
    width: 33px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 40px;
  }
  
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 40px;
  }
  
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
  
  #menu {
    right: 0;
    z-index: 1;
    min-width: 50%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  #menu.overlay {
    visibility: visible;
    opacity: 0.95;
  
    background: #1E1E1E;
  }
  
  #menu li {
    list-style: none;
    display: block;
    text-decoration: none;
    text-align: left;
  
  }
  .cart-menu{
    display: flex;
  }




  .ItemsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1vw;
    width: 80vw;
    margin: 0 auto;
    
  }

  .itemCard{
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 0px 6px 1px #CFCFCF;

  }
  .itemCard a{
    text-decoration: none;
  }
  .itemCard img{
    border-radius: 0;
    width: 100%;
  }
  .ItemsDetails{
    padding: 12px 15px ;
  }
  .cardPrice{
    color: #333;
    font-family: 22px;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
  }
  .cardTitle{
    font-size: 15px;
    color: #9c9c9c;
    font-weight: 300;
    margin: 0;

  }

  .PicturesCarousel{
    width: 85%;
    margin: 0 auto;
  }
  .imageWrapper{
    width: 75%;
    aspect-ratio: 16/9;
    background-color: black;
    margin: 0 auto;
    overflow: hidden;
  }
  .imageWrapper img{
    height: 100%;
    margin: 0 auto;
  }
  .descriptionBlocks{
    width: 80%;
    margin: 0 auto;
  }
  .priceandbtn{
    display: flex;
    justify-content: space-between;
    gap: 1vw;

  }
.itemTitle{
  width: 100%;
}
  .infoBlock{
    text-wrap: nowrap;
    /* Rectangle 34 */
    background-color: white;
    border-radius: 15px;
    border: 1px solid #f0f0f0;
    padding: 3vw 4vw;
    box-shadow: 0px 0px 6px 1px #CFCFCF;
  
  }
  .decriptionBlock{
    margin-top: 1vw;
  }


  .cartFlex{
    gap: 1vw;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  .cartList{
    width: 100%;
  }
  .cartTotals{
    height: fit-content;
  }
  .cartTitlePrice{
    display: flex;
    justify-content: space-between;
  }
  .quantityInput{
    padding: 5px 5px;
    border: 1px solid #cdcdcd;
    width: 80px;
    border-radius: 20px;
    text-align: center;
  }
  .removeItem{
    border: none;
    background-color: red;
    border-radius: 50px;
  }
  .removeItem svg{
    height: 20px;
  }
  .quantityRemove{
    display: flex;
    justify-content: end;
  }